@model IEnumerable<Students_Affaires.Models.Control>

@{
    ViewData["Title"] = "Index";
}

<h1>Table of Controls.....</h1>

<p>
    <a asp-action="Create" class="btn btn-info"> Add New Control </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ControlName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageControl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ControlName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <img src="~/Img/@item.ImageControl" alt="Std_Image_Here" style="border-radius:50%; width:70px;height:70px">
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ControlID" class="btn btn-success">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ControlID" class="btn btn-info">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ControlID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
