@model Students_Affaires.Models.Admin

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<br />

<h3 color="red">Are you sure you want to delete this?</h3>
<div>
    <img src="~/Img/@Model.ImageAdmin" alt="Std_Image_Here" style="border-radius:50%; width:80px;height:80px">

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AdminName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AdminName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageAdmin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageAdmin)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="AdminID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-info">Back to List</a>
    </form>
</div>
